---
title: Forestland for Sale
---

<!-- Title Section -->
<section class="row" id="masthead">
  <div class="large-12 columns">
    <h1><%= current_page.data.title %></h1>
    <h5 class="subheader">
      World Forest Investment, Inc. is currently exploring and discovering various investment opportunities.
      Our focus is on projects that are not widely publicized on the open market. These projects are reviewed
      for investment returns, sustainability, and feasibility.
    </h5>
  </div>
</section><!-- End of Title Section -->


<!-- Forest Tracts Section -->
<section class="row vertically-padded" id="forestry-tracts">
  <div class="large-12 columns">
    <!-- Property listings -->
    <dl class="selling test test-a">
      <%- active_listings.each do |listing| %>
        <%= partial(:active_listing, locals: { property: listing }) %>
      <%- end %>
    </dl>

    <!-- Disclosures Section -->
    <section id="disclosures">
        <div class="panel radius">
          <p>
            Licensed Real Estate Brokers are required by law to inform participants of the rules regarding agency relationships.
            <br>
            <b>Please click on the link of your State to access this important document before investigating properties.</b>
          </p>
          <ul class="inline-list">
            <li>
              <%= link_to 'Oregon Disclosures', '/documents/forestland-for-sale/oregon-disclosures.pdf', { class: 'tiny button' } %>
            </li>
            <li>
              <%= link_to 'Washington Disclosures', '/documents/forestland-for-sale/washington-disclosures.pdf', { class: 'tiny button' } %>
            </li>
          </ul>
        </div>
    </section><!-- End of Disclosures Section -->

    <dl class="sold">
      <%- inactive_listings.each do |listing| %>
        <%= partial(:inactive_listing, locals: { property: listing }) %>
      <%- end %>
    </dl>
  </div>
</section><!-- End of Forest Tracts Section -->
