---
title: property.title
---

<!-- Masthead Section -->
<section class="full-width sans-image" id="masthead">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= property.title %></h1>
      <h2><%= property.listing_price %></h2>
    </div>
  </div>
</section> <!-- End of Masthead Section -->


<!-- Property Info Section -->
<section class="row vertically-padded">

  <!-- Side Navigation -->
  <ul class="side-nav small-3 left" role="navigation">
    <%= document_list_for property %>
    <li>
      <a href="#.zip" class="button small radius">Download All Property Files</a>
    </li>

    <!-- Divider -->
    <li class="divider"></li>

    <li>
      <a href="#" data-reveal-id="contact-modal">Contact Us</a>
    </li>
    <li>
      <a href="tel:15036956419">1-503-695-6419</a>
    </li>

    <!-- Divider -->
    <li class="divider"></li>

    <li class="newsletter-signup">
      <h6>Sign up for updates about this and other listings.</h6>
      <!-- Mailing List Signup -->
      <form class="formspree" data-success="Thanks for signing up!" data-failure="Sorry, something went wrong&hellip;please try again later.">
        <input type="hidden" name="_subject" value="New Notification Signup from worldforestinvestment.com" />
        <input type="text" name="_gotcha" style="display:none" />

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="email" name="email" placeholder="Your email address" />
              </div>
              <div class="small-4 columns">
                <a role="button" aria-label="submit form" href="#" class="button postfix submit radius">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul><!-- End Side Navigation -->

  <!-- Property Description -->
  <div class="small-9 columns">


    <%= slideshow_for property %>

    <h3><%= property.subtitle %></h3>
    <p><%= property.description %></p>

    <h5>Property highlights include:</h5>
    <ul>
      <%- property.highlights.each do |hl| %>
      <li><%= hl %></li>
      <%- end %>
    </ul>


    <ul class="small-block-grid-4">
      <li>
        <a href="" class="th"><%= image_tag lorem.image('160x160', random_color: true) %></a>
      </li>
      <li>
        <a href="" class="th"><%= image_tag lorem.image('160x160', random_color: true) %></a>
      </li>
      <li>
        <a href="" class="th"><%= image_tag lorem.image('160x160', random_color: true) %></a>
      </li>
      <li>
        <a href="" class="th"><%= image_tag lorem.image('160x160', random_color: true) %></a>
      </li>
      <li>
        <a href="" class="th"><%= image_tag lorem.image('160x160', random_color: true) %></a>
      </li>
      <li>
        <a href="" class="th"><%= image_tag lorem.image('160x160', random_color: true) %></a>
      </li>
    </ul>
  </div>
</section> <!-- End of Property Info Section -->

<section class="row vertically-padded">
  <p class="panel">
    <b>DISCLAIMER:</b> The information provided here and any information provided by World Forest Investment, Inc., its agents,
    contractors, clients, or associates is provided in good faith, but no guarantees or warranties of any kind are made. Each
    potential buyer must do their own due diligence and make their offers based on their own research.
  </p>
</section>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'smoothslides.theme' %>
  <%= stylesheet_link_tag 'smoothslides.theme' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'smoothslides' %>
  <script type="text/javascript">
    $(window).load(function() {
      $(document).smoothSlides({
        duration: 5000,
        navigation: false,
        pagination: false
      });
      $('.ss-slide.hide').removeClass('hide');
    });
  </script>
<% end %>
